In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.listdir()

['.ipynb_checkpoints', 'Superstore.csv', 'Untitled.ipynb']

In [8]:
data = np.genfromtxt("EmployeeDB.txt", delimiter=",")

In [13]:
np.loadtxt("data.txt",skiprows=1)

array([[ 55.,  16.,  56.,  43.,  81.,  81.,  91.,  39.],
       [ 57.,  49.,  20.,  23.,  79.,  25.,  16.,  76.],
       [ 11.,  80.,  70.,  18.,  45.,  99.,  15.,  97.],
       [ 76.,  52.,  12.,  39.,  25.,  81.,  51.,  63.],
       [ 78.,  14.,  15.,  44.,  87.,  50.,  82.,  33.],
       [ 53.,  33.,  34.,  77.,  19.,  64.,  58.,  39.],
       [ 70.,  91.,  15.,  67.,  96.,  50.,  30.,  67.],
       [ 32.,  39.,  35.,  41.,  34., 100.,  77.,  55.],
       [ 61.,  11.,  26.,  83.,  74.,  20.,  68.,  10.],
       [ 37.,  63.,  54.,  74.,  43.,  58.,  16.,  73.],
       [ 14.,  58.,  64.,  47.,  77.,  86.,  41.,  47.]])

In [21]:
print(np.loadtxt(fname="EmployeeDB.txt", dtype="str", delimiter=",")[1], sep = "\t")

1870	Annie	Jenkins	Bachelors	Management	A	35000	4650	1899-12-30 00:00:00.000	9

In [22]:
import pandas as pd

In [25]:
df = pd.read_csv("EmployeeDB.txt", sep="\t")

In [28]:
sales = pd.read_csv("Superstore.csv", encoding="ISO-8859-1")

In [29]:
sales.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

### Pandas Introduction:

In [30]:
import pandas as pd

In [31]:
pd?

# Pandas
 <b> Pandas </b> is a very powerful Python package for data transofrmation, data analysis, manipulation, Joining, splitting, Pivot, Combined, and visualization of data as well.

The goal of this library for data manipulation and analysis.

# Key Features of Pandas

## 1. Data Structure : Series and DataFrame

* Series
* DataFrame

## Series:

Series is a 1-dimensional labeled array that is capable of holding any kind of data type such as integer, string, float etc. Series you can understand just like excel column in spreadsheet.

## DataFrame

DataFrame is a 2-dimsional labeled data structure, a dataframe consists with series and index.

Series - > Just like Excel Column
Index - > Just like Excel Row

DataFrame is the combination of row and col.

## Data Manipulation
* Data Cleaning : Handling missing data points, duplicates, data type conversion, identifty trends etc
* Data Transformation: How to reshape the data, merge or join the data set, how we can apply function to transform the data, transform the data using pandas pivot table.

## Data Analysis:
* We can perform aggregate operations on the data set such as sum, mean, count, avg, std, etc
* We can person statistics analysis, filtering and indexing etc etc

## Data Reading I/O
* We can read number of files with different -2 sources, such as excel, csv, text, sql, json,clipboard,sas etc
## Data Visualization
* This libarary is very suitale with matplotlib for visualize data directly from series and as well as from DataFrame

### Series

1D labeled array that can hold any kind of value.

In [32]:
sr = pd.Series()

In [33]:
type(sr)

pandas.core.series.Series

In [34]:
sr

Series([], dtype: object)

In [35]:
print(sr)

Series([], dtype: object)

In [38]:
print(sr.__doc__)

    One-dimensional ndarray with axis labels (including time series).

    Labels need not be unique but must be a hashable type. The object
    supports both integer- and label-based indexing and provides a host of
    methods for performing operations involving the index. Statistical
    methods from ndarray have been overridden to automatically exclude
    missing data (currently represented as NaN).

    Operations between Series (+, -, /, \*, \*\*) align values based on their
    associated index values-- they need not be the same length. The result
    index will be the sorted union of the two indexes.

    Parameters
    ----------
    data : array-like, Iterable, dict, or scalar value
        Contains data stored in Series. If data is a dict, argument order is
        maintained.
    index : array-like or Index (1d)
        Values must be hashable and have the same length as `data`.
        Non-unique index values are allowed. Will default to
        RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
        and index is None, then the keys in the data are used as the index. If the
        index is not None, the resulting Series is reindexed with the index values.
    dtype : str, numpy.dtype, or ExtensionDtype, optional
        Data type for the output Series. If not specified, this will be
        inferred from `data`.
        See the :ref:`user guide <basics.dtypes>` for more usages.
    name : Hashable, default None
        The name to give to the Series.
    copy : bool, default False
        Copy input data. Only affects Series or 1d ndarray input. See examples.

    Notes
    -----
    Please reference the :ref:`User Guide <basics.series>` for more information.

    Examples
    --------
    Constructing Series from a dictionary with an Index specified

    >>> d = {'a': 1, 'b': 2, 'c': 3}
    >>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
    >>> ser
    a   1
    b   2
    c   3
    dtype: int64

    The keys of the dictionary match with the Index values, hence the Index
    values have no effect.

    >>> d = {'a': 1, 'b': 2, 'c': 3}
    >>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
    >>> ser
    x   NaN
    y   NaN
    z   NaN
    dtype: float64

    Note that the Index is first build with the keys from the dictionary.
    After this the Series is reindexed with the given Index values, hence we
    get all NaN as a result.

    Constructing Series from a list with `copy=False`.

    >>> r = [1, 2]
    >>> ser = pd.Series(r, copy=False)
    >>> ser.iloc[0] = 999
    >>> r
    [1, 2]
    >>> ser
    0    999
    1      2
    dtype: int64

    Due to input data type the Series has a `copy` of
    the original data even though `copy=False`, so
    the data is unchanged.

    Constructing Series from a 1d ndarray with `copy=False`.

    >>> r = np.array([1, 2])
    >>> ser = pd.Series(r, copy=False)
    >>> ser.iloc[0] = 999
    >>> r
    array([999,   2])
    >>> ser
    0    999
    1      2
    dtype: int64

    Due to input data type the Series has a `view` on
    the original data, so
    the data is changed as well.

In [39]:
sr = pd.Series(data = [10,20,"A",12.5,True,13,45,10,20,30])

In [40]:
sr

0      10
1      20
2       A
3    12.5
4    True
5      13
6      45
7      10
8      20
9      30
dtype: object

### Note:

In Pandas, Object refer to as string.

In [41]:
sales = [45000,34000,60000,55000,30000,36000]
product = ['Mobile',"Keyboard","Mouse",'PenDrive','iPhone','Cable']

In [42]:
len(sales)

6

In [43]:
len(product)

6

In [44]:
sales_series = pd.Series(data = sales, index = product)

In [45]:
sales_series

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
dtype: int64

In [46]:
product.append("Wire")

In [47]:
product

['Mobile', 'Keyboard', 'Mouse', 'PenDrive', 'iPhone', 'Cable', 'Wire']

In [48]:
sales_series = pd.Series(data = sales, index = product)

ValueError: Length of values (6) does not match length of index (7)

In [49]:
pd.Series(product)

0      Mobile
1    Keyboard
2       Mouse
3    PenDrive
4      iPhone
5       Cable
6        Wire
dtype: object

In [52]:
pd.Series(sales, name = "Total Sales")

0    45000
1    34000
2    60000
3    55000
4    30000
5    36000
Name: Total Sales, dtype: int64

In [53]:
sales.append("Ravinder")

In [54]:
sales

[45000, 34000, 60000, 55000, 30000, 36000, 'Ravinder']

In [55]:
pd.Series(sales, name = "Total Sales")

0       45000
1       34000
2       60000
3       55000
4       30000
5       36000
6    Ravinder
Name: Total Sales, dtype: object

In [59]:
sales = [45000,34000,60000,55000,30000,36000]
product = ['Mobile',"Keyboard","Mouse",'PenDrive','iPhone','Cable']
data = pd.Series(sales, product, name = "Sales")

In [60]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [61]:
print(data)

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [63]:
data.Cable

36000

In [64]:
data.iPhone

30000

In [65]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [66]:
data.Mouse

60000

In [67]:
type(data)

pandas.core.series.Series

In [68]:
data.dtype

dtype('int64')

In [69]:
sr

0      10
1      20
2       A
3    12.5
4    True
5      13
6      45
7      10
8      20
9      30
dtype: object

In [70]:
sr.dtype

dtype('O')

In [71]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [72]:
data.size

6

In [73]:
data.ndim

1

In [74]:
len(data)

6

In [75]:
data.empty

False

In [76]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

### Can you filter the values which are > 40000

In [77]:
data > 40000

Mobile       True
Keyboard    False
Mouse        True
PenDrive     True
iPhone      False
Cable       False
Name: Sales, dtype: bool

In [78]:
data[data > 40000]

Mobile      45000
Mouse       60000
PenDrive    55000
Name: Sales, dtype: int64

### How can I get only the index from Series

In [79]:
data.index

Index(['Mobile', 'Keyboard', 'Mouse', 'PenDrive', 'iPhone', 'Cable'], dtype='object')

In [81]:
list(data[data > 40000].index)

['Mobile', 'Mouse', 'PenDrive']

In [85]:
data[data > 40000].index[-1]

'PenDrive'

In [86]:
data[data > 40000].index[0]

'Mobile'

In [92]:
data[data>40000].values[0]

45000

In [93]:
data[data>40000].values[-1]

55000

In [94]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [96]:
(data > 30000) & (data < 45000)

Mobile      False
Keyboard     True
Mouse       False
PenDrive    False
iPhone      False
Cable        True
Name: Sales, dtype: bool

In [97]:
sum((data > 30000) & (data < 45000))

2

In [98]:
data[(data > 30000) & (data < 45000)]

Keyboard    34000
Cable       36000
Name: Sales, dtype: int64

In [99]:
data[(data >= 30000) & (data <= 45000)]

Mobile      45000
Keyboard    34000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [100]:
data[(data >= 30000) & (data <= 45000)].index

Index(['Mobile', 'Keyboard', 'iPhone', 'Cable'], dtype='object')

In [101]:
data[(data >= 30000) & (data <= 45000)].values

array([45000, 34000, 30000, 36000], dtype=int64)

In [102]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

### From a series how to select few products

In [106]:
data[["Mobile","PenDrive",'Cable']]

Mobile      45000
PenDrive    55000
Cable       36000
Name: Sales, dtype: int64

In [109]:
data[['Mobile','Mouse','iPhone']]

Mobile    45000
Mouse     60000
iPhone    30000
Name: Sales, dtype: int64

### loc and iloc

* Loc -> Location
* iloc - > Index Location

In [110]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [111]:
data.loc['Mouse']

60000

In [112]:
data.loc[['Mouse','Cable']]

Mouse    60000
Cable    36000
Name: Sales, dtype: int64

### How to Append the data into existing Pandas Series

In [113]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [114]:
new_data = pd.Series(data = [65000,53000], index = ["Mouse","Cable"])

In [115]:
new_data

Mouse    65000
Cable    53000
dtype: int64

In [116]:
type(data)

pandas.core.series.Series

In [119]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Name: Sales, dtype: int64

In [123]:
data = pd.concat([data, new_data])

In [124]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

In [125]:
data.loc["Mouse"]

Mouse    60000
Mouse    65000
dtype: int64

In [126]:
data.loc[["Mouse","Cable"]]

Mouse    60000
Mouse    65000
Cable    36000
Cable    53000
dtype: int64

In [127]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

In [132]:
data.loc['Mobile':'iPhone']

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
dtype: int64

In [134]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

In [135]:
data.loc['PenDrive':]

PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

### How to append the dataset from two series

In [136]:
sr = pd.Series(data = ["Modi","Jocinda","Bidern"], 
               index = ["India","NZ","US"])

In [137]:
sr

India       Modi
NZ       Jocinda
US        Bidern
dtype: object

In [140]:
new = pd.Series(data = ["Anthony","Justin"],
                index = ["Australia","Canada"])

In [141]:
new

Australia    Anthony
Canada        Justin
dtype: object

In [142]:
# adding sr and new

In [143]:
pm_country = pd.concat([sr,new])

In [144]:
pm_country

India           Modi
NZ           Jocinda
US            Bidern
Australia    Anthony
Canada        Justin
dtype: object

In [147]:
pm_country.loc['US':]

US            Bidern
Australia    Anthony
Canada        Justin
dtype: object

In [148]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

### can you find the data based on data's index

In [149]:
# iloc

In [150]:
data.iloc[3]

55000

In [152]:
data.iloc[3]

55000

In [153]:
data.loc["iPhone"]

30000

In [154]:
data.iloc[4]

30000

In [155]:
data.iloc[4:]

iPhone    30000
Cable     36000
Mouse     65000
Cable     53000
dtype: int64

In [157]:
data.iloc[[4,3,2]]

iPhone      30000
PenDrive    55000
Mouse       60000
dtype: int64

In [158]:
data.iloc[::-1]

Cable       53000
Mouse       65000
Cable       36000
iPhone      30000
PenDrive    55000
Mouse       60000
Keyboard    34000
Mobile      45000
dtype: int64

In [159]:
data

Mobile      45000
Keyboard    34000
Mouse       60000
PenDrive    55000
iPhone      30000
Cable       36000
Mouse       65000
Cable       53000
dtype: int64

In [160]:
data.iloc[0::2]

Mobile    45000
Mouse     60000
iPhone    30000
Mouse     65000
dtype: int64

____

### Pandas DataFrame

DataFrame is the combination of index and columns (rows and columns).

In [162]:
df = pd.DataFrame()

In [163]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [164]:
df.shape

(0, 0)

In [165]:
df.size

0

In [166]:
df.emptyty

True

In [171]:
EmployeeDB = {"EmpID" : [101,102,103,104,105],
         "Emp Name" : ["Abhinav","Sumedha","Abhisheak","Komal","Ankit"],
         "Email" : ["a@gmail.com",'s@gmail.com','ab@gmail.com',
                    'k@gmail.com',"a@example.com"],
         "Salary" : [5000,4500,6000,6500,4500]
             }
# note : All arrays must be of the same length

In [172]:
EmployeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'Emp Name': ['Abhinav', 'Sumedha', 'Abhisheak', 'Komal', 'Ankit'],
 'Email': ['a@gmail.com',
  's@gmail.com',
  'ab@gmail.com',
  'k@gmail.com',
  'a@example.com'],
 'Salary': [5000, 4500, 6000, 6500, 4500]}

In [173]:
df = pd.DataFrame(EmployeeDB)

In [174]:
df

   EmpID   Emp Name          Email  Salary
0    101    Abhinav    a@gmail.com    5000
1    102    Sumedha    s@gmail.com    4500
2    103  Abhisheak   ab@gmail.com    6000
3    104      Komal    k@gmail.com    6500
4    105      Ankit  a@example.com    4500

### A comprehensive pandas guide:

Pandas Tutorial : 
https://www.youtube.com/playlist?list=PLWuFHho1zKhUJpe9WfSyvrrQrzqDErbmv

In [175]:
df

   EmpID   Emp Name          Email  Salary
0    101    Abhinav    a@gmail.com    5000
1    102    Sumedha    s@gmail.com    4500
2    103  Abhisheak   ab@gmail.com    6000
3    104      Komal    k@gmail.com    6500
4    105      Ankit  a@example.com    4500

In [176]:
df.shape

(5, 4)

In [179]:
print(f"Number of rows {df.shape[0]} and cols {df.shape[0]}.")

Number of rows 5 and cols 5.

In [180]:
import os

In [181]:
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'EmployeeDB.txt',
 'Pandas-1.ipynb',
 'Superstore.csv']

In [182]:
# let me read the data from csv

### Error : UnicodeDecodeError

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 2944: invalid start byte

### Solutions while reading the csv
encoding = "ISO-8859-1"

In [184]:
df = pd.read_csv("Superstore.csv", encoding = "ISO-8859-1")

### df.head()

Using head function we can read first 5 rows from the dataset.

In [186]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### df.tail()

Using tail function we can read last 5 records

In [187]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [188]:
# can we read first 2 records

In [189]:
df.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

### Can you print all the columns name from dataframe

In [191]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [193]:
print(df.columns.to_list())

['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [194]:
df.index

RangeIndex(start=0, stop=9994, step=1)

In [195]:
df.keys()

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [196]:
df.dtypes.index

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [197]:
df.columns.values

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit'], dtype=object)

### can we select specific columns from a dataframe

In [204]:
my_columns = ["Order Date","Ship Mode","Customer Name","Segment","State",
         "Region","Category",'Sub-Category',"Sales","Quantity","Profit"]

In [205]:
print(my_columns)

['Order Date', 'Ship Mode', 'Customer Name', 'Segment', 'State', 'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Profit']

In [206]:
df[["Order Date","Customer Name"]].head()

   Order Date    Customer Name
0   11/8/2016      Claire Gute
1   11/8/2016      Claire Gute
2   6/12/2016  Darrin Van Huff
3  10/11/2015   Sean O'Donnell
4  10/11/2015   Sean O'Donnell

In [208]:
newdf = df[my_columns].copy()

In [209]:
newdf.shape

(9994, 11)

In [210]:
newdf.head()

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Second Class,Darrin Van Huff,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

In [211]:
newdf.tail()

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
9989,1/21/2014,Second Class,Tom Boeckenhauer,Consumer,Florida,South,Furniture,Furnishings,25.248,3,4.1028
9990,2/26/2017,Standard Class,Dave Brooks,Consumer,California,West,Furniture,Furnishings,91.960,2,15.6332
9991,2/26/2017,Standard Class,Dave Brooks,Consumer,California,West,Technology,Phones,258.576,2,19.3932
9992,2/26/2017,Standard Class,Dave Brooks,Consumer,California,West,Office Supplies,Paper,29.600,4,13.3200
9993,5/4/2017,Second Class,Chris Cortes,Consumer,California,West,Office Supplies,Appliances,243.160,2,72.9480

### iloc and loc

In [212]:
newdf.head()

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Second Class,Darrin Van Huff,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

In [213]:
# can we select some specific rows using iloc

In [214]:
newdf.iloc[[0,4,7,9,100,500,999,99,10]]

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Bookcases,261.960,2,41.9136
4,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Office Supplies,Storage,22.368,2,2.5164
7,6/9/2014,Standard Class,Brosina Hoffman,Consumer,California,West,Technology,Phones,907.152,6,90.7152
9,6/9/2014,Standard Class,Brosina Hoffman,Consumer,California,West,Office Supplies,Appliances,114.900,5,34.4700
100,8/29/2016,Standard Class,Rick Bensley,Home Office,Illinois,Central,Technology,Accessories,95.976,3,-10.7973
500,5/30/2016,Standard Class,Maribeth Yedwab,Corporate,Colorado,West,Office Supplies,Binders,22.620,2,-15.0800
999,10/28/2015,Standard Class,Rob Dowd,Consumer,Kentucky,South,Furniture,Furnishings,33.110,7,12.9129
99,8/29/2016,Standard Class,Rick Bensley,Home Office,Illinois,Central,Office Supplies,Paper,64.624,7,22.6184
10,6/9/2014,Standard Class,Brosina Hoffman,Consumer,California,West,Furniture,Tables,1706.184,9,85.3092

In [216]:
newdf.iloc[[0,4,99,10],[2,3,5,6,9,8]]

      Customer Name      Segment   Region         Category  Quantity     Sales
0       Claire Gute     Consumer    South        Furniture         2   261.960
4    Sean O'Donnell     Consumer    South  Office Supplies         2    22.368
99     Rick Bensley  Home Office  Central  Office Supplies         7    64.624
10  Brosina Hoffman     Consumer     West        Furniture         9  1706.184

In [217]:
# can you access first 10 records and all the columns after Region (region included)

In [221]:
newdf.iloc[0:10,5:]

  Region         Category Sub-Category     Sales  Quantity    Profit
0  South        Furniture    Bookcases  261.9600         2   41.9136
1  South        Furniture       Chairs  731.9400         3  219.5820
2   West  Office Supplies       Labels   14.6200         2    6.8714
3  South        Furniture       Tables  957.5775         5 -383.0310
4  South  Office Supplies      Storage   22.3680         2    2.5164
5   West        Furniture  Furnishings   48.8600         7   14.1694
6   West  Office Supplies          Art    7.2800         4    1.9656
7   West       Technology       Phones  907.1520         6   90.7152
8   West  Office Supplies      Binders   18.5040         3    5.7825
9   West  Office Supplies   Appliances  114.9000         5   34.4700

In [223]:
newdf.iloc[0:10,::-5]

     Profit Region  Order Date
0   41.9136  South   11/8/2016
1  219.5820  South   11/8/2016
2    6.8714   West   6/12/2016
3 -383.0310  South  10/11/2015
4    2.5164  South  10/11/2015
5   14.1694   West    6/9/2014
6    1.9656   West    6/9/2014
7   90.7152   West    6/9/2014
8    5.7825   West    6/9/2014
9   34.4700   West    6/9/2014

### loc -> Location

In [225]:
newdf.head()

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Second Class,Darrin Van Huff,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

### Can you tell what is data type of your given index in newdf?

### Loc

I will be follow always orignial source.

### iloc
I will be follow always only indexing of the data, regardless whatever your source data is coming.

In [228]:
newdf.loc[[3,5,7,9],["Region","Sales","State","Category","Profit"]]

  Region     Sales       State         Category    Profit
3  South  957.5775     Florida        Furniture -383.0310
5   West   48.8600  California        Furniture   14.1694
7   West  907.1520  California       Technology   90.7152
9   West  114.9000  California  Office Supplies   34.4700

In [229]:
newdf.columns

Index(['Order Date', 'Ship Mode', 'Customer Name', 'Segment', 'State',
       'Region', 'Category', 'Sub-Category', 'Sales', 'Quantity', 'Profit'],
      dtype='object')

In [231]:
newdf.iloc[[3,5,7,9],[5,-3,4,-5,-1]]

  Region     Sales       State         Category    Profit
3  South  957.5775     Florida        Furniture -383.0310
5   West   48.8600  California        Furniture   14.1694
7   West  907.1520  California       Technology   90.7152
9   West  114.9000  California  Office Supplies   34.4700

In [232]:
newdf.head()

,Order Date,Ship Mode,Customer Name,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Second Class,Claire Gute,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Second Class,Darrin Van Huff,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Standard Class,Sean O'Donnell,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

In [233]:
newdf.index

RangeIndex(start=0, stop=9994, step=1)

In [234]:
# how to set or reset your index

In [235]:
newdf.set_index("Customer Name", inplace = True)
# inplace = True, I want to reflect index 'customer name', permanently in the dataset

In [236]:
newdf.head()

,Order Date,Ship Mode,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
Customer Name,,,,,,,,,,
Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
Darrin Van Huff,6/12/2016,Second Class,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
Sean O'Donnell,10/11/2015,Standard Class,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
Sean O'Donnell,10/11/2015,Standard Class,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

In [238]:
newdf.loc[[3,5,7,9],["Region","Sales","State","Category","Profit"]]

KeyError: "None of [Index([3, 5, 7, 9], dtype='object', name='Customer Name')] are in the [index]"

In [239]:
newdf.iloc[[3,5,7,9],[5,-3,4,-5,-1]]

                        Category     Sales Region         Category    Profit
Customer Name
Sean O'Donnell         Furniture  957.5775  South        Furniture -383.0310
Brosina Hoffman        Furniture   48.8600   West        Furniture   14.1694
Brosina Hoffman       Technology  907.1520   West       Technology   90.7152
Brosina Hoffman  Office Supplies  114.9000   West  Office Supplies   34.4700

In [237]:
newdf.index

Index(['Claire Gute', 'Claire Gute', 'Darrin Van Huff', 'Sean O'Donnell',
       'Sean O'Donnell', 'Brosina Hoffman', 'Brosina Hoffman',
       'Brosina Hoffman', 'Brosina Hoffman', 'Brosina Hoffman',
       ...
       'Dianna Vittorini', 'Dianna Vittorini', 'Maris LaWare', 'Ruben Ausman',
       'Ruben Ausman', 'Tom Boeckenhauer', 'Dave Brooks', 'Dave Brooks',
       'Dave Brooks', 'Chris Cortes'],
      dtype='object', name='Customer Name', length=9994)

In [240]:
# can you give me 5, 50, 500,5000 using iloc

In [241]:
newdf.iloc[[5,50,500,5000]]

,Order Date,Ship Mode,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
Customer Name,,,,,,,,,,
Brosina Hoffman,6/9/2014,Standard Class,Consumer,California,West,Furniture,Furnishings,48.86,7,14.1694
Darren Powers,4/18/2015,Standard Class,Consumer,Indiana,Central,Office Supplies,Labels,75.18,6,35.3346
Maribeth Yedwab,5/30/2016,Standard Class,Corporate,Colorado,West,Office Supplies,Binders,22.62,2,-15.0800
Adam Bellavance,5/7/2017,Standard Class,Home Office,California,West,Technology,Accessories,79.99,1,28.7964

In [242]:
# Can you give me all the records where customer name = 'Brosina Hoffman'

In [247]:
newdf.loc[["Brosina Hoffman","Adam Bellavance"],
          ["Region","Sales","Category","Profit"]]

                  Region     Sales         Category     Profit
Customer Name
Brosina Hoffman     West    48.860        Furniture    14.1694
Brosina Hoffman     West     7.280  Office Supplies     1.9656
Brosina Hoffman     West   907.152       Technology    90.7152
Brosina Hoffman     West    18.504  Office Supplies     5.7825
Brosina Hoffman     West   114.900  Office Supplies    34.4700
Brosina Hoffman     West  1706.184        Furniture    85.3092
Brosina Hoffman     West   911.424       Technology    68.3568
Brosina Hoffman     East    36.048       Technology    -0.9012
Brosina Hoffman     East   447.860  Office Supplies   219.4514
Brosina Hoffman     East   479.950       Technology   129.5865
Brosina Hoffman     East   166.440  Office Supplies    79.8912
Brosina Hoffman    South    18.336  Office Supplies     6.6468
Brosina Hoffman    South    36.288  Office Supplies    12.7008
Brosina Hoffman    South   111.984       Technology     6.9990
Brosina Hoffman    South     5.970  Office Supplies    -4.5770
Brosina Hoffman    South     2.508  Office Supplies    -1.8392
Brosina Hoffman    South    32.985       Technology    -1.9791
Brosina Hoffman  Central     9.540  Office Supplies     4.2930
Brosina Hoffman  Central     5.810  Office Supplies     1.8011
Brosina Hoffman  Central     5.760  Office Supplies     1.7280
Brosina Hoffman    South   320.640  Office Supplies    89.7792
Brosina Hoffman    South    52.000       Technology    23.4000
Brosina Hoffman  Central    10.984        Furniture    -7.9634
Brosina Hoffman  Central   797.944        Furniture   -56.9960
Adam Bellavance     East     6.790       Technology     2.3086
Adam Bellavance     East    24.560  Office Supplies    11.5432
Adam Bellavance     East     3.048  Office Supplies     1.0668
Adam Bellavance     East    49.120  Office Supplies    23.0864
Adam Bellavance     East  4355.168  Office Supplies  1415.4296
Adam Bellavance     East    27.930  Office Supplies     8.0997
Adam Bellavance    South   127.880        Furniture    40.9216
Adam Bellavance    South   160.320  Office Supplies    44.8896
Adam Bellavance    South    46.000  Office Supplies    20.7000
Adam Bellavance     East    20.736  Office Supplies     7.2576
Adam Bellavance     West    79.990       Technology    28.7964
Adam Bellavance     West    18.540  Office Supplies     8.7138
Adam Bellavance     West  2036.860        Furniture   366.6348
Adam Bellavance     West   449.568        Furniture   -73.0548
Adam Bellavance     West   108.960       Technology    32.6880
Adam Bellavance  Central     4.410  Office Supplies     2.0286
Adam Bellavance  Central   167.940  Office Supplies    82.2906
Adam Bellavance  Central    67.800  Office Supplies    31.1880

In [248]:
newdf.head(2)

,Order Date,Ship Mode,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
Customer Name,,,,,,,,,,
Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Bookcases,261.96,2,41.9136
Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Chairs,731.94,3,219.5820

In [249]:
newdf.reset_index(inplace=True)

# my existing index will be converted into dataframe's column and new index
# will be auto generated from 0 to n - 1

In [251]:
newdf.head()

,Customer Name,Order Date,Ship Mode,Segment,State,Region,Category,Sub-Category,Sales,Quantity,Profit
0,Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Bookcases,261.9600,2,41.9136
1,Claire Gute,11/8/2016,Second Class,Consumer,Kentucky,South,Furniture,Chairs,731.9400,3,219.5820
2,Darrin Van Huff,6/12/2016,Second Class,Corporate,California,West,Office Supplies,Labels,14.6200,2,6.8714
3,Sean O'Donnell,10/11/2015,Standard Class,Consumer,Florida,South,Furniture,Tables,957.5775,5,-383.0310
4,Sean O'Donnell,10/11/2015,Standard Class,Consumer,Florida,South,Office Supplies,Storage,22.3680,2,2.5164

In [254]:
newdf.set_index("State", inplace = True)

In [255]:
newdf.head(2)

,Customer Name,Order Date,Ship Mode,Segment,Region,Category,Sub-Category,Sales,Quantity,Profit
State,,,,,,,,,,
Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,South,Furniture,Bookcases,261.96,2,41.9136
Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,South,Furniture,Chairs,731.94,3,219.5820

In [256]:
newdf.reset_index(inplace=True)

In [257]:
newdf.head()

,State,Customer Name,Order Date,Ship Mode,Segment,Region,Category,Sub-Category,Sales,Quantity,Profit
0,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,South,Furniture,Bookcases,261.9600,2,41.9136
1,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,South,Furniture,Chairs,731.9400,3,219.5820
2,California,Darrin Van Huff,6/12/2016,Second Class,Corporate,West,Office Supplies,Labels,14.6200,2,6.8714
3,Florida,Sean O'Donnell,10/11/2015,Standard Class,Consumer,South,Furniture,Tables,957.5775,5,-383.0310
4,Florida,Sean O'Donnell,10/11/2015,Standard Class,Consumer,South,Office Supplies,Storage,22.3680,2,2.5164

In [258]:
newdf.set_index(["Region","Category"], inplace = True)

In [259]:
newdf.head()

                             State    Customer Name  Order Date  \
Region Category
South  Furniture          Kentucky      Claire Gute   11/8/2016
       Furniture          Kentucky      Claire Gute   11/8/2016
West   Office Supplies  California  Darrin Van Huff   6/12/2016
South  Furniture           Florida   Sean O'Donnell  10/11/2015
       Office Supplies     Florida   Sean O'Donnell  10/11/2015

                             Ship Mode    Segment Sub-Category     Sales  \
Region Category
South  Furniture          Second Class   Consumer    Bookcases  261.9600
       Furniture          Second Class   Consumer       Chairs  731.9400
West   Office Supplies    Second Class  Corporate       Labels   14.6200
South  Furniture        Standard Class   Consumer       Tables  957.5775
       Office Supplies  Standard Class   Consumer      Storage   22.3680

                        Quantity    Profit
Region Category
South  Furniture               2   41.9136
       Furniture               3  219.5820
West   Office Supplies         2    6.8714
South  Furniture               5 -383.0310
       Office Supplies         2    2.5164

In [260]:
newdf.index

MultiIndex([('South',       'Furniture'),
            ('South',       'Furniture'),
            ( 'West', 'Office Supplies'),
            ('South',       'Furniture'),
            ('South', 'Office Supplies'),
            ( 'West',       'Furniture'),
            ( 'West', 'Office Supplies'),
            ( 'West',      'Technology'),
            ( 'West', 'Office Supplies'),
            ( 'West', 'Office Supplies'),
            ...
            ( 'East', 'Office Supplies'),
            ( 'East', 'Office Supplies'),
            ( 'West',      'Technology'),
            ('South',      'Technology'),
            ('South',      'Technology'),
            ('South',       'Furniture'),
            ( 'West',       'Furniture'),
            ( 'West',      'Technology'),
            ( 'West', 'Office Supplies'),
            ( 'West', 'Office Supplies')],
           names=['Region', 'Category'], length=9994)

In [261]:
newdf.reset_index(inplace = True)

In [262]:
newdf.head()

,Region,Category,State,Customer Name,Order Date,Ship Mode,Segment,Sub-Category,Sales,Quantity,Profit
0,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,Bookcases,261.9600,2,41.9136
1,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,Chairs,731.9400,3,219.5820
2,West,Office Supplies,California,Darrin Van Huff,6/12/2016,Second Class,Corporate,Labels,14.6200,2,6.8714
3,South,Furniture,Florida,Sean O'Donnell,10/11/2015,Standard Class,Consumer,Tables,957.5775,5,-383.0310
4,South,Office Supplies,Florida,Sean O'Donnell,10/11/2015,Standard Class,Consumer,Storage,22.3680,2,2.5164

### Can you Drop a column from the dataframe

In [264]:
newdf.head(1)

,Region,Category,State,Customer Name,Order Date,Ship Mode,Segment,Sub-Category,Sales,Quantity,Profit
0,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,Bookcases,261.96,2,41.9136

In [271]:
newdf.drop('Sub-Category', axis = "columns").head(1) # axis = 0 -> rows and axis = 1 ->column

,Region,Category,State,Customer Name,Order Date,Ship Mode,Segment,Sales,Quantity,Profit
0,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,261.96,2,41.9136

In [268]:
newdf.head(1)

,Region,Category,State,Customer Name,Order Date,Ship Mode,Segment,Sub-Category,Sales,Quantity,Profit
0,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,Bookcases,261.96,2,41.9136

In [269]:
# now I am going to reflect changes in the dataframe

In [272]:
newdf.drop('Sub-Category', axis = "columns", inplace = True)

In [273]:
newdf.head(1)

,Region,Category,State,Customer Name,Order Date,Ship Mode,Segment,Sales,Quantity,Profit
0,South,Furniture,Kentucky,Claire Gute,11/8/2016,Second Class,Consumer,261.96,2,41.9136

In [274]:
# can we delete multiple column

In [275]:
newdf.drop(["Customer Name","Profit"], axis = 1, inplace = True)

In [278]:
newdf.head(10)

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.9600,2
1,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,731.9400,3
2,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.6200,2
3,South,Furniture,Florida,10/11/2015,Standard Class,Consumer,957.5775,5
4,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.3680,2
5,West,Furniture,California,6/9/2014,Standard Class,Consumer,48.8600,7
6,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.2800,4
7,West,Technology,California,6/9/2014,Standard Class,Consumer,907.1520,6
8,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.5040,3
9,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,114.9000,5

In [279]:
# can you delete few specific rows

In [282]:
newdf.drop([1,3,5,7,9,14], axis = 0, inplace = True)

In [283]:
newdf.head(10)

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
2,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
4,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
6,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
8,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3
10,West,Furniture,California,6/9/2014,Standard Class,Consumer,1706.184,9
11,West,Technology,California,6/9/2014,Standard Class,Consumer,911.424,4
12,South,Office Supplies,North Carolina,4/15/2017,Standard Class,Consumer,15.552,3
13,West,Office Supplies,Washington,12/5/2016,Standard Class,Consumer,407.976,3
15,Central,Office Supplies,Texas,11/22/2015,Standard Class,Home Office,2.544,3

In [284]:
# these index looks inconsistent : can you reset index

In [285]:
newdf.head()

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
2,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
4,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
6,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
8,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3

In [286]:
newdf.reset_index(inplace = True)

In [288]:
newdf.head(10)

,index,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
1,2,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
2,4,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
3,6,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
4,8,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3
5,10,West,Furniture,California,6/9/2014,Standard Class,Consumer,1706.184,9
6,11,West,Technology,California,6/9/2014,Standard Class,Consumer,911.424,4
7,12,South,Office Supplies,North Carolina,4/15/2017,Standard Class,Consumer,15.552,3
8,13,West,Office Supplies,Washington,12/5/2016,Standard Class,Consumer,407.976,3
9,15,Central,Office Supplies,Texas,11/22/2015,Standard Class,Home Office,2.544,3

In [289]:
newdf.drop("index", axis = "columns", inplace = True)

In [290]:
newdf.head(10)

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
1,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
2,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
3,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
4,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3
5,West,Furniture,California,6/9/2014,Standard Class,Consumer,1706.184,9
6,West,Technology,California,6/9/2014,Standard Class,Consumer,911.424,4
7,South,Office Supplies,North Carolina,4/15/2017,Standard Class,Consumer,15.552,3
8,West,Office Supplies,Washington,12/5/2016,Standard Class,Consumer,407.976,3
9,Central,Office Supplies,Texas,11/22/2015,Standard Class,Home Office,2.544,3

In [291]:
df.shape

(9994, 21)

In [292]:
newdf.shape

(9988, 8)

In [293]:
newdf.head()

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
1,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
2,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
3,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
4,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3

In [294]:
newdf.drop([1,4])

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
2,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
3,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
5,West,Furniture,California,6/9/2014,Standard Class,Consumer,1706.184,9
6,West,Technology,California,6/9/2014,Standard Class,Consumer,911.424,4
...,...,...,...,...,...,...,...,...
9983,South,Furniture,Florida,1/21/2014,Second Class,Consumer,25.248,3
9984,West,Furniture,California,2/26/2017,Standard Class,Consumer,91.960,2
9985,West,Technology,California,2/26/2017,Standard Class,Consumer,258.576,2
9986,West,Office Supplies,California,2/26/2017,Standard Class,Consumer,29.600,4
9987,West,Office Supplies,California,5/4/2017,Second Class,Consumer,243.160,2

In [295]:
newdf.head()

,Region,Category,State,Order Date,Ship Mode,Segment,Sales,Quantity
0,South,Furniture,Kentucky,11/8/2016,Second Class,Consumer,261.960,2
1,West,Office Supplies,California,6/12/2016,Second Class,Corporate,14.620,2
2,South,Office Supplies,Florida,10/11/2015,Standard Class,Consumer,22.368,2
3,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,7.280,4
4,West,Office Supplies,California,6/9/2014,Standard Class,Consumer,18.504,3

### Thanks for Joining and learning

### Tmrw:

I will recap whole the session and news topics