In [1]:
import pandas as pd
from faker import Faker
import random

# Initialize the Faker instance
fake = Faker()

# Set the number of rows you want to generate
num_rows = 1000

# Generate a dataset
data = {
    "Company": [fake.company() for _ in range(num_rows)],
    "Stock Symbol": [fake.lexify(text='????') for _ in range(num_rows)],  # Stock symbols with random 4 letters
    "Transaction Date": [fake.date_between(start_date='-2y', end_date='today') for _ in range(num_rows)],
    "Transaction Type": [random.choice(['Buy', 'Sell', 'Dividend', 'Interest']) for _ in range(num_rows)],
    "Shares": [random.randint(1, 1000) for _ in range(num_rows)],
    "Share Price ($)": [round(random.uniform(5, 500), 2) for _ in range(num_rows)],
    "Transaction Amount ($)": [round(random.uniform(1000, 100000), 2) for _ in range(num_rows)],
}

# Convert to a pandas DataFrame
finance_df = pd.DataFrame(data)

# Save to a CSV file
finance_df.to_csv('synthetic_finance_data.csv', index=False)

# Display the first few rows of the dataset
finance_df.head()

,Company,Stock Symbol,Transaction Date,Transaction Type,Shares,Share Price ($),Transaction Amount ($)
0,"Miller, Alexander and Martin",zaVl,2023-07-12,Dividend,950,246.70,68120.20
1,Taylor-Freeman,yete,2024-04-02,Sell,967,434.90,97784.06
2,Miller Group,jBca,2023-04-05,Buy,607,209.24,3047.45
3,Smith-Macias,QkkS,2023-05-31,Sell,374,116.24,82149.86
4,"Young, Castro and Day",dMVW,2024-04-07,Dividend,306,467.78,14609.28